

 <div class="container" ng-controller="WelcomeCtrl">
  <div class="page-header">
      <img src="imagenes/logo.jpg" alt="La Parrilla Express" />
    </div>
    <p class="lead">Bienvenido <b>{{username}}</b> !!</p>
    <p>{{pp}} {{CurrentDate}}</p>


   <div class="list-group" ng-repeat="article in articles">
      <a href="#" onclick="return false;" class="list-group-item active">
      <h4 class="list-group-item-heading">{{article.title}}</h4>
      <p class="list-group-item-text">{{article.post}}</p>
 
        <span class="pull-right">
      <button class="btn btn-xs btn-info" ng-click="editPost(article.$id)" data-target="#editModal">EDITAR</button>
      <button class="btn btn-xs btn-warning" ng-click="confirmDelete(article.$id)" data-target="#deleteModal" >ELIMINAR</button>
    </span>
    </a>
</div>


<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="editModalLabel">Actualizar platillo</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="recipient-name" class="control-label">Nombre de platillo:</label>
            <input type="text" class="form-control" ng-model="postToUpdate.title" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Descripción:</label>
            <textarea class="form-control" id="message-text" ng-model="postToUpdate.post"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" ng-click="update()">Publicar</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="text-align:center;">
        <h4 class="modal-title" style="color:red;" id="deleteModalLabel">¡Cuidado!, Estas a punto de eliminar este platillo.</h4>
      </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="deletePost()">Borrar</button>
      </div>
    </div>
  </div>
</div>


</div> 

