
    
    <div class="container" ng-controller="HomeCtrl">
      <div class="jumbotron" style="padding-bottom:0px;">
        <img src="imagenes/logo.jpg" alt="La Parrilla Express" />
      </div>
      <form class="form-signin" name="signinForm" role="form">
        <div class="form-group" ng-class="{ 'has-error' : signinForm.email.$invalid }">
        <label>Email</label>
        <input type="email" name="email" class="form-control" ng-model="user.email">
        <p class="help-block" ng-show="signinForm.email.$invalid">Escribe un email correcto.</p>
    </div> 
    <div class="form-group" ng-class="{ 'has-error' : signinForm.password.$invalid }">
        <label>Contraseña</label>
        <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="8">
        <p class="help-block" ng-show="signinForm.password.$error.minlength">8 caracetres como mínimo.</p>
    </div>  
        <label class="checkbox">
          <a href="#/register"> Registra una cuenta</a>
        </label>
        <button ladda-loading="login.loading" data-style="expand-right" ng-disabled="!user.email || !user.password" type="button" ng-click="SignIn($event)" class="btn btn-lg segoe-ui-light ladda-button btn-primary btn-block"><span class="ladda-label">Accesar</span></button>
      </form>


    </div>
